<div class="tab-header-container" [ngClass]="[isSidebarExpanded ? 'tab-header-expanded-width' : 'tab-header-collapsed-width']">
    <div id="tabscontainer" class="tab-container" [ngClass]="[endDragged ? 'dragged-end' :  '']">
        <ng-container *ngFor="let tab of openedTabs">
            <ng-container *ngIf="tab.selected">
                <div class="tab selected-tab" [routerLink]="tab.filepath" (click)="selectTab(tab)" [id]="tab.id" draggable="true" [ngClass]="[tab.draggedOver ? 'dragged-over' : '']" [style.height]="tabHeight">
                    <div class="tab-content" [style.height]="tabHeight">
                        <div class="tab-icon">
                                <svg *ngIf="tab.id == 1" xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 155.422 164.684">
                                    <path d="M126.325,46.685A37.448,37.448,0,1,1,88.876,9.237a37.466,37.466,0,0,1,37.448,37.448M88.876,95.357a78.63,78.63,0,0,0-77.564,65.785,11.083,11.083,0,0,0,11.112,12.779h132.9a11.083,11.083,0,0,0,11.112-12.779A78.63,78.63,0,0,0,88.876,95.357" transform="translate(-11.166 -9.237)" fill="#55b4f4"/>
                                </svg>
                                <svg *ngIf="tab.id == 2" xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 229.196 229.196">
                                    <g id="Tick-Icon-SVG-psokcd" transform="translate(-4097.992 -3416.812)">
                                    <path id="Path_136721" data-name="Path 136721" d="M159.34,2.206H69.856C19.629,2.206,0,21.835,0,72.062v89.485C0,211.773,19.629,231.4,69.856,231.4H159.34c49.938,0,69.856-19.629,69.856-69.856V72.062c0-50.227-19.918-69.856-69.856-69.856" transform="translate(4097.992 3414.606)" fill="#48c300"/>
                                    <path id="Path_136722" data-name="Path 136722" d="M42.034,101.743.178,59.6,14.9,44.877,42.034,72.011,111.89,2.444l14.722,14.722Z" transform="translate(4149.224 3483.097)" fill="#fff"/>
                                    </g>
                                </svg>
                                <svg *ngIf="tab.parentFolderId == 3" class="svg-icon" viewBox="0 0 256 272" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z" fill="#E23237"/>
                                    <path d="M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z" fill="#B52E31"/>
                                    <path d="M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z" fill="#FFF"/>
                                </svg>
                            <div *ngIf="tab.parentFolderId != 3" class="ext-icon">
                                <span *ngIf="tab.id == 5" class="at-sign">@</span>
                            </div>    
                        </div>
                        <div class="tab-name" [style.height]="tabHeight" [style.color]="tab.color">{{ tab.name }}</div>
                        <div class="tab-close-button" [style.height]="tabHeight">
                            <button class="close-button" [ngClass]="tab.selected ? 'open-tab-x' : 'tab-x'" (click)="closeTab(tab)" title="Close tab">×</button>    
                        </div>
                    </div>
                </div> 
            </ng-container>
            <ng-container *ngIf="tab.selected === false">
                <div class="tab unselected-tab" [routerLink]="tab.filepath" (click)="selectTab(tab)" [id]="tab.id" draggable="true" [ngClass]="[tab.draggedOver ? 'dragged-over' : '']" [style.height]="tabHeight">
                    <div class="tab-content" [style.height]="tabHeight">
                        <div class="tab-icon" title="Select tab">
                            <svg *ngIf="tab.id == 1" xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 155.422 164.684">
                                <path d="M126.325,46.685A37.448,37.448,0,1,1,88.876,9.237a37.466,37.466,0,0,1,37.448,37.448M88.876,95.357a78.63,78.63,0,0,0-77.564,65.785,11.083,11.083,0,0,0,11.112,12.779h132.9a11.083,11.083,0,0,0,11.112-12.779A78.63,78.63,0,0,0,88.876,95.357" transform="translate(-11.166 -9.237)" fill="#55b4f4"/>
                            </svg>
                            <svg *ngIf="tab.id == 2" xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 229.196 229.196">
                                <g id="Tick-Icon-SVG-psokcd" transform="translate(-4097.992 -3416.812)">
                                  <path id="Path_136721" data-name="Path 136721" d="M159.34,2.206H69.856C19.629,2.206,0,21.835,0,72.062v89.485C0,211.773,19.629,231.4,69.856,231.4H159.34c49.938,0,69.856-19.629,69.856-69.856V72.062c0-50.227-19.918-69.856-69.856-69.856" transform="translate(4097.992 3414.606)" fill="#48c300"/>
                                  <path id="Path_136722" data-name="Path 136722" d="M42.034,101.743.178,59.6,14.9,44.877,42.034,72.011,111.89,2.444l14.722,14.722Z" transform="translate(4149.224 3483.097)" fill="#fff"/>
                                </g>
                              </svg>
                            <svg *ngIf="tab.parentFolderId == 3" class="svg-icon" width="20%" height="20%" viewBox="0 0 256 272" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid">
                                <path d="M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z" fill="#E23237"/>
                                <path d="M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z" fill="#B52E31"/>
                                <path d="M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z" fill="#FFF"/>
                            </svg>
                            <div *ngIf="tab.parentFolderId != 3" class="ext-icon">
                                <span *ngIf="tab.id == 5" class="at-sign">@</span>
                            </div>    
                        </div>
                        <div class="tab-name" title="Select tab" [style.height]="tabHeight" [style.color]="tab.color">{{ tab.name }}</div>
                        <div class="tab-close-button" [style.height]="tabHeight">
                            <button class="close-button" [ngClass]="tab.selected ? 'open-tab-x' : 'tab-x'" (click)="closeTab(tab)" title="Close tab">×</button>    
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="split-screen-icon-container" title="Toggle split screen">
        <!-- <svg class="split-screen-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.16 172.77" (click)="handleToggle()">
            <g class="split-screen-icon-group">
              <path class="outline" fill="#fff" d="M0,86Q0,49.69,0,13.44C0,3.08,3.09,0,13.4,0H159c9.95,0,13.15,3.19,13.15,13.2q0,73,0,146c0,10.2-3.28,13.51-13.44,13.51q-72.79,0-145.6,0c-9.87,0-13.09-3.3-13.1-13.28Q0,122.72,0,86ZM7,31.19a19.42,19.42,0,0,0-.28,2.05q0,64-.08,128c0,4.55,2.11,5.63,6.18,5.61,21.67-.11,43.34-.05,65-.07,1.27,0,2.54-.22,3.67-.33V31.19Zm83.5,135.55H158c7.18,0,7.37-.19,7.37-7.27q0-61.5,0-123c0-1.75-.14-3.5-.23-5.29H90.51Z"/>
              <path class="space-left" [style.fill]="pageFill" d="M7,31.19h74.5V166.43c-1.13.11-2.4.33-3.67.33-21.67,0-43.34,0-65,.07-4.07,0-6.19-1.06-6.18-5.61q.15-64,.08-128A19.42,19.42,0,0,1,7,31.19Z" fill="#fff"/>
              <path class="space-right" [style.fill]="previewFill" d="M90.51,166.74V31.19h74.64c.09,1.79.23,3.54.23,5.29q0,61.5,0,123c0,7.08-.19,7.27-7.37,7.27Z" fill="#fff"/>
            </g>
        </svg> -->
        <!-- <svg class="split-screen-icon-v2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.01 134.16" (click)="handleToggle()">
            <g class="split-screen-icon-v2-group">
              <path class="split-screen-outline" fill="#fff" d="M90,0q37.74,0,75.49,0C175.77,0,180,4.27,180,14.59q0,52.5,0,105c0,10.3-4.26,14.57-14.53,14.57h-151C4.24,134.15,0,129.87,0,119.55q0-52.5,0-105C0,4.24,4.22,0,14.52,0Q52.26,0,90,0ZM12,121.09H168v-109H12Z"/>
              <path class="split-screen-white-space" fill="transparent" d="M12,121.09v-109H168v109Zm75-7v-94H20v94Zm73-94H93v94h67Z"/>
              <path class="split-screen-icon-left" [style.fill]="pageFill" d="M87,114.09H20v-94H87Z"/>
              <path class="split-screen-icon-right" [style.fill]="previewFill" d="M160,20.09v94H93v-94Z"/>
            </g>
        </svg> -->
        <svg class="split-screen-icon-v2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.01 134.16" (click)="handleToggle()">
            <g class="split-screen-icon-v2-group">
              <path class="split-screen-outline" fill="#DEE1E5" d="M90,0H165.5C175.77,0,180,4.27,180,14.6q0,52.48,0,105c0,10.31-4.26,14.57-14.53,14.58h-151C4.24,134.15,0,129.87,0,119.55q0-52.48,0-105C0,4.25,4.22,0,14.52,0ZM12,121.09H168v-109H12Z" transform="translate(0 -0.01)"/>
              <path class="split-screen-white-space" fill="transparent" d="M12,121.09v-109H168v109Zm75-7v-94H20v94Zm73-94H93v94h67Z" transform="translate(0 -0.01)"/>
              <path class="split-screen-icon-left" [style.fill]="pageFill" d="M82.16,110.69H24.72V22.49H82.16Z" transform="translate(0 -0.01)"/>
              <path class="split-screen-icon-right" [style.fill]="previewFill" d="M155.29,22.49v88.2H97.52V22.49Z" transform="translate(0 -0.01)"/>
            </g>
        </svg>
          
            
    </div>
</div>