<ul class="lines">
    <ng-container *ngFor="let page of openPages">
        <ng-container *ngIf="page.selected">
            <ng-container *ngFor="let in of counter(page.contentLineCount); let i = index">
                <ng-container *ngIf="underTen(i)">
                    <li class="u10">{{ i + 1 }}</li>
                </ng-container>
                <ng-container *ngIf="underTen(i) === false">
                    <li>{{ i + 1 }}</li>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ul>