* {
    color: #ffffff;
    
    font-size: 10pt;    
}

.calc-container {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #000000;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    transition: opacity 0.2s;
}

.calc-body-shadow {
    position: absolute;
    height: 651px;
    width: 326px;
    margin: 35px;
    border-radius: 20px;
    background-color: #000000;
    transform: translateY(14px);
    filter: blur(2px);
    opacity: 25%;
}

.calc-body {
    position: absolute;
    height: 651px;
    width: 326px;
    margin: 35px;
    border-radius: 20px;
    background-color: #4a5a73;
}

.calc-body-upper-ergo-curve-shadow {
    position: absolute;
    background-color: #000000;
    margin-top: 35px;
    margin-left: 30px;
    height: 275px;
    width: 337px;
    border-radius: 5% 5% 10% 10% / 5% 5% 50% 50% ;
    transform: translateY(14px);
    filter: blur(2px);
    opacity: 25%;
}

.calc-body-upper-ergo-curve {
    position: absolute;
    background-color: #4a5a73;
    margin-top: 35px;
    margin-left: 30px;
    height: 275px;
    width: 337px;
    border-radius: 5% 5% 10% 10% / 5% 5% 50% 50% ;
}

.calc-body-side-ergo-shadow-left, .calc-body-side-ergo-shadow-right {
    position: absolute;
    background-color: #000000;
    height: 410px;
    width: 50px;
    margin-top: 276px;
    border-radius: 15% 15% 15% 15% / 67% 67% 33% 33%;
    transform: translateY(14px);
    filter: blur(2px);
    opacity: 25%;
}

.calc-body-side-ergo-shadow-left {
    margin-left: 31px;
    transform: translateY(14px) translateX(-0.5px);
}

.calc-body-side-ergo-shadow-right {
    margin-left: 315px;
    transform: translateY(14px) translateX(0.5px);
}

.calc-body-bottom-shadow {
    position: absolute;
    background-color: #000000;
    width: 319.5px;
    height: 20px;
    margin-top: 676px;
    margin-left: 38px;
    border-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateY(14px);
    filter: blur(2px);
    opacity: 50%;    
}
.calc-body-side-ergo-edge-left, .calc-body-side-ergo-edge-right {
    position: absolute;
    background-color: #3b4b64;
    height: 410px;
    width: 50px;
    margin-top: 276px;
    border-radius: 15% 15% 15% 15% / 67% 67% 33% 33%;
    transform: translateY(12px);
}

.calc-body-side-ergo-edge-left {
    margin-left: 31px;
}

.calc-body-side-ergo-edge-right {
    margin-left: 315px;
}



.calc-body-side-ergo-curve-left, .calc-body-side-ergo-curve-right {
    position: absolute;
    background-color: #4a5a73;
    height: 410px;
    width: 50px;
    margin-top: 276px;
    border-radius: 15% 15% 15% 15% / 67% 67% 33% 33%  ;
}

.calc-body-side-ergo-curve-left {
    margin-left: 31px;
}

.calc-body-side-ergo-curve-right {
    margin-left: 315px;
}

.calc-body-bottom-edge {
    position: absolute;
    background-color: #3b4b64;
    width: 319.5px;
    height: 20px;
    margin-top: 676px;
    margin-left: 38px;
    border-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: translateY(12px);
}

.calc-body-bottom-curve {
    position: absolute;
    background-color: #4a5a73;
    width: 319.5px;
    height: 20px;
    margin-top: 676px;
    margin-left: 38px;
    border-radius: 50%;
}


.screen-shape {
    position: absolute;
    margin-top: 25px;
    margin-left: 41px;
    padding: 0;
    height: 215px;
    width: 315px;
    background-color: #010103;
    border-radius: 90% 90% 10% 10% / 10% 10% 75% 75% ;
}

.screen-shape-low-center-filler {
    position: absolute;
    margin-top: 235px;
    margin-left: 141px;
    width: 120px;
    height: 20px;
    background-color: #010103;
    border-radius: 10px;
}

.screen-shape-low-tilt-left, .screen-shape-low-tilt-right {
    position: absolute;
    margin-top: 230px;
    width: 111px;
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #010103;
}

.screen-shape-low-tilt-left {
    margin-left: 52px;
    transform:rotate(10deg)
}

.screen-shape-low-tilt-right {
    width: 113px;
    margin-left: 232px;
    transform:rotate(-10deg)
}

.screen-shape-circle-cutout {
    position: absolute;
    background-color: #4a5a73;
    width: 112.5px;
    height: 101.7px;
    border-radius: 60% 60% 50% 50% / 45% 45% 55% 55%;
    margin-top: 245px;
    margin-left: 141px;
}

.calc-grid {
    position: relative;
    height: 650px;
    width: 325px;
    margin: 35px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
}

.top-container {
    position: relative;
    width: 100%;
}

.middle-container {
    position: relative;
    width: 100%;
}

.bottom-container {
    position: relative;
    width: 100%;
    padding-top: 5%;
}

.screen-grid {
    position: absolute;
    height: 76%;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 7%;
    margin-bottom: 17%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.function-keys-grid {
    height: 100%;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0.3%;
    column-gap: 0.3%;
}

.basic-keys-grid {
    height: 88%;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 12%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.screen-grid > * {
    border: solid black;
    border-width: 1px;
}

.casio {
    grid-column: span 2;
    grid-row: span 2;
    color: #c9d7e2;
    justify-self: center;
    font-family: Plateia;
    font-size: 13pt;
}

.sp{
    grid-column: span 3;
    grid-row: span 3;
    background-color: #2f2f2f;
    color: #1b1c1e;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    justify-items: end;
    align-items: center;
    box-shadow: 0px 0px 15px -5px black inset;    
}

.sp-splits {
    display: inline-block;
    background-color: #1b1c1e;
    width: 3px;
    height: 100%;
    opacity: 25%;
}

.fx-991ms{
    grid-column: span 2;
    grid-row: span 1;
    color: #c9d7e2;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 11pt;
    justify-self: center;
    align-self: center;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.svpam{
    grid-column: span 2;
    grid-row: span 1;
    color: #a89960;
    align-self: center;
    font-family: Mesa-Grande;
}

.two-way-power{
    grid-column: span 3;
    grid-row: span 1;
    color: #c9d7e2;
    justify-self: end;
    align-self: center;
    font-size: 6pt;
    font-weight: 900;
    padding: 5%;
}

.display-screen {
    position: relative;
    grid-column: span 5;
    grid-row: span 4;
}

.display-bg {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #aaccbb;
    border-radius: 5px;
    transform: perspective(100px) rotateX(-1deg);
    box-shadow: 0px 0px 20px -5px black inset;
}

.display{
    width: 100%;
    height: 100%;
    color: #000f03;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, 1fr);
}

.display-top-line {
    position: relative;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #000000;
    font-size: 7pt;
}

.display-top-line-grid {
    position: relative;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(13, 1fr);
    font-size: 7pt;
}

.display-top-line-hyp-enabled {
    position: relative;
    grid-row: span 1;
    grid-column: span 2;
    justify-self: end;
    align-self: center;
    padding-right: 4px;
}

.display-top-line-memory-enabled {
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    justify-self: start;
    align-self: center;
}

.display-top-line-recall {
    position: relative;
    grid-row: span 1;
    grid-column: span 5;
    justify-self: start;
    align-self: center;
}

.display-top-line-degrees-enabled {
    position: relative;
    grid-row: span 1;
    grid-column: span 5;
    justify-self: start;
    align-self: center;
    padding-top: 0;
    padding-bottom: 0;
}

.lcd-on {
    opacity: 100%;
}

.lcd-off {
    opacity: 8%;
}

.hyp-text, .memory-text, .recall-text {
    font-size: 7pt;
    color: #000000;
}

.degrees-text {
    background-color: #000000;
    color: #aaccbb;
    font-size: 7pt;
    padding-left: 1px;
    padding-right: 0.5px;
    padding-top: 0;
    padding-bottom: 0;
}

.display-middle-line {
    position: relative;
    grid-column: span 1;
    grid-row: span 2;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-content: end;
}

.display-bottom-line {
    position: relative;
    grid-column: span 1;
    grid-row: span 3;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
}

.syntax-error, .math-error {
    position: relative;
    grid-row: span 1;
    grid-column: span 24;
    color: #000000;
    height: 100%;
    width: 100%;
    font-family: LED-Calculator;
    font-size: 20pt;
    letter-spacing: 3px;
    justify-self: center;
    align-self: end;
    display: grid;
    justify-items: end;
    align-items: center;
    padding-left: 0;
    padding-right: 40px;
}

.validExpression {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1;
    color: #000000;
    padding: 0;
}

.display-expression-left-arrow, .display-expression-right-arrow {
    position: relative;
    display: inline-block;
    grid-row: span 1;
    grid-column: span 1;
    color: #000000;
    justify-self: center;
    align-self: center;
}

.display-expression-left-arrow {
    padding-left: 3px;
}

.display-expression-right-arrow {
    padding-right: 3px;
}

.long-arrow-left, .long-arrow-right {
    position: relative;
    color: #000000;
}

.charsToLeft, .charsToRight {
    display: inline-block;
}

.display-expression-entry {
    position: relative;
    grid-row: span 1;
    grid-column: span 22;
    color: #000000;
    font-family: LED-Calculator;
    font-size: 20pt;
    letter-spacing: 3px;
    padding-left: 8px;
    
    justify-self: start;
    align-self: start;
}

.display-entries {
    position: relative;
    color: #000000;
    font-family: LED-Calculator;
    font-size: 20pt;
    width: 100%;
    height: 100%;
}

.overlay-cursor {
    transform: translateX(-18px);
    margin-right: -19px;
}

.blinking-cursor {
    display: inline-block;
    font-family: LED-Calculator;
    font-size: 20pt;
    color: #000000;
    height: 97%;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
      background-color: transparent;
    }
    50% {
      color: black;
      background-color: #aaccbb;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
      background-color: transparent;
    }
    50% {
      color: black;
      background-color: #aaccbb;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
      background-color: transparent;
    }
    50% {
      color: black;
      background-color: #aaccbb;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
      background-color: transparent;
    }
    50% {
      color: black;
      background-color: #aaccbb;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
      background-color: transparent;
    }
    50% {
      color: black;
      background-color: #aaccbb;
    }
  }



.display-result-calc {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
    color: #000000;
    padding: 0;
}

.display-result-calc-result {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: span 1;
    grid-column: span 10;
    justify-self: end;
    align-self: center;
    justify-items: end;
    align-items: center;
    transform: translateX(5px);
}

.display-result-calc-figures, .display-result-placeholder-figures, .display-result-calc-commas, .display-result-calc-decimals, .show-comma, .hide-comma, .show-decimal, .hide-decimal {
    position: absolute;
    font-family: Digital-7;
    font-size: 28pt;
    letter-spacing: 4px;
    color: #000000;
}

.display-result-placeholder-figures {
    opacity: 4%;
}

.display-result-calc-commas, .display-result-calc-decimals {
    transform: translateX(-11px);
}

.show-comma, .show-decimal {
    position: relative;
    opacity: 100%;
}

.hide-comma, .hide-decimal {
    position: relative;
    opacity: 4%; 
}


.display-result-x10-sign {
    position: relative;
    display: inline-block;
    grid-row: span 1;
    grid-column: span 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    justify-self: center;
    align-self: center;
}

.x10-sign, .x10-power-of {
    color: #000000;
}

.x10-sign {
    font-size: 7pt;
}

.x10-power-of {
    font-size: 14pt;
}

.lcd-power-off {
    opacity: 4%;
}

.display-result-calc-x10-power-of {
    position: relative;
    display: inline-block;
    grid-row: span 1;
    grid-column: span 1;
    font-family: Digital-7;
    color: #000000;
    justify-self: start;
    align-self: start;
    transform: translateX(-2px) translateY(2px);
}


.arrows-keys {
    grid-column: span 2;
    grid-row: span 2;
    position: relative;
    display: grid;
}

.row1-keys, .function-keys, .basic-keys {
    font-family: Helvetica
}

.disabled-row1-btn {
    cursor: not-allowed;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.row1-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: filter 600ms;
}

.row1-btn-edge {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: #919cb2;
}

.row1-btn-shadow {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: #000000;
    opacity: 33%;
    transform: translateY(2px);
    filter: blur(2px);
}

.row1-btn-front-cover {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #9fabc1;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 30px;
    transform: translateY(-4px);
    will-change: transform;
    transition: transform 50ms;
}

.row1-btn-front-text {
    position: relative;
    display: inline-block;
    font-size: 7pt;
    font-weight: 550;
    padding-top: 5px;
    text-align: center;
}

.btn-front-alpha {
    font-size: 6.5pt;
}

.row1-btn:active .row1-btn-front-cover {
    transform: translateY(-2px)
}

.row1-btn:active .row1-btn-shadow {
    transform: translateY(1px)
}

.row1-btn:active {
    transition: filter 50ms;
    filter: brightness(105%);
}

.row1-btn:active .row1-btn-shadow {
    opacity: 34.65%;
    filter: blur(1px);
}

.row1-btn:focus:not(:focus-visible) {
    outline: none;
}

.btn-arrow-container {
    position: relative;
    display: grid;
}

.btn-arrow {
    position: relative;
    background-color: transparent;
    user-select: none;
    height: 90%;
    width: 95%;
    -webkit-tap-highlight-color: transparent;
    align-self: end;
    justify-self: center;
    border-radius: 75% 85% 100% 100% / 50% 50% 100% 100%  ;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn-arrow-edge {
    position: absolute;
    display: inline-block;
    background-color: #7d8a9a;
    top: 0;
    left: 0;
    margin: 0;
    height: 95%;
    width: 100%; 
    border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
    cursor: default;
}

.btn-arrow-shadow {
    position: absolute;
    display: inline-block;
    height: 95%;
    width: 100%; 
    border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #000000;
    opacity: 33%;
    filter: blur(2px);
    cursor: default;
}

.btn-arrow-front-cover {
    position: relative;
    display: grid;
    height: 95%;
    width: 100%; 
    background-color: #9fabc1;
    top: 0;
    left: 0;
    margin: 0;
    
    border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
    transform: translateY(-4px);
    margin-right: 1px;
    will-change: transform;
    transition: transform 50ms;
    cursor: default;
}

.btn-arrow-area-up {
    position: relative;
    height: 85%;
    width: 100%;
    grid-column: span 2;
    grid-row: span 1;
    display: grid;
    justify-items: center;
    align-items: start;
    cursor: default;
}

.btn-arrow-area-left {
    position: relative;
    height: 100%;
    width: 90%;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    justify-items: start;
    align-items: center;
    cursor: default;
}

.btn-arrow-area-right {
    position: relative;
    height: 100%;
    width: 90%;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    justify-items: end;
    align-items: center;
    margin-left: 5%;
    cursor: default;
}

.btn-arrow-area-down {
    position: relative;
    height: 86%;
    width: 100%;
    grid-column: span 2;
    grid-row: span 1;
    display: grid;
    justify-items: center;
    align-items: end;
    margin-top: 4%;
    padding-bottom: 0%;
    cursor: default;
}

.btn-arrow-icon-up {
    transform: translateY(-1.5px);
}

.btn-arrow-icon-left {
    transform: translateX(4px);
}

.btn-arrow-icon-right {
    transform: translateX(-2px);
}

/* down arrow button functionality */
.btn-arrow-down:active .btn-arrow-front-cover-down {
    transform: rotateX(-0.05turn) translateY(0.5px)
}

.btn-arrow-down-active .btn-arrow-front-cover-down {
    transform: rotateX(-0.05turn) translateY(0.5px)
}

.btn-arrow-down:active .btn-arrow-shadow-down {
    transform: translateY(-3px);
    opacity: 25%;
    filter: blur(0px);
}

.btn-arrow-down-active .btn-arrow-shadow-down {
    transform: translateY(-3px);
    opacity: 25%;
    filter: blur(0px);
}

.btn-arrow-down:active,.btn-arrow-down-active {
    transition: filter 250ms;
    filter: brightness(105%);
}

.btn-arrow-down:focus:not(:focus-visible) {
    outline: none;
}

/* up arrow button functionality */
.btn-arrow-up:active .btn-arrow-front-cover-up {
    transform: rotateX(-0.05turn) translateY(-6px);
}

.btn-arrow-up-active .btn-arrow-front-cover-up {
    transform: rotateX(-0.05turn) translateY(-6px);
}

.btn-arrow-up:active .btn-arrow-shadow-up {
    transform: translateY(2px);
    opacity: 36%;
    filter: blur(1px);
}

.btn-arrow-up-active .btn-arrow-shadow-up {
    transform: translateY(2px);
    opacity: 36%;
    filter: blur(1px);
}

.btn-arrow-up:active,.btn-arrow-up-active {
    transition: filter 50ms;
    filter: brightness(105%);
}

.btn-arrow-up:focus:not(:focus-visible) {
    outline: none;
}

/* left arrow button functionality */
.btn-arrow-left:active .btn-arrow-front-cover-left {
    transform: rotateY(-0.05turn) translateY(-3.5px) translateX(-2px);
}

.btn-arrow-left-active .btn-arrow-front-cover-left {
    transform: rotateY(-0.05turn) translateY(-3.5px) translateX(-2px);
}

.btn-arrow-left:active .btn-arrow-shadow-left {
    transform: translateX(2px) translateY(3px);
    opacity: 25%;
    filter: blur(1px);    
}

.btn-arrow-left-active .btn-arrow-shadow-left {
    transform: translateX(2px) translateY(3px);
    opacity: 25%;
    filter: blur(1px);    
}

.btn-arrow-left:active,.btn-arrow-left-active {
    transition: filter 50ms;
    filter: brightness(105%);
}

.btn-arrow-left:focus:not(:focus-visible) {
    outline: none;
}


/* right arrow button functionality */
.btn-arrow-right:active .btn-arrow-front-cover-right {
    transform: rotateY(0.05turn) translateY(-3.5px) translateX(3px);
}

.btn-arrow-right-active .btn-arrow-front-cover-right {
    transform: rotateY(0.05turn) translateY(-3.5px) translateX(3px);
}

.btn-arrow-right:active .btn-arrow-shadow-right {
    transform: translateX(-2px) translateY(3px);
    opacity: 25%;
    filter: blur(1px);
}

.btn-arrow-right-active .btn-arrow-shadow-right {
    transform: translateX(-2px) translateY(3px);
    opacity: 25%;
    filter: blur(1px);
}

.btn-arrow-right:active,.btn-arrow-right-active {
    transition: filter 50ms;
    filter: brightness(105%);
}

.btn-arrow-right:focus:not(:focus-visible) {
    outline: none;
}


.btn-arrow-icon {
    cursor: pointer;
}

.key-arrows-btn-container, .key-arrows-grid {
    position: absolute;
    height: 100%;
    width: 100%;
}

.key-arrows-btn-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
}

.key-arrows-btn-bg {
    
    /* Initial btn-bg */

    background-color: #9fabc1;
    position: absolute;
    justify-self: center;
    align-self: center;
    height: 90%;
    width: 95%; 
    border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
    display: none;
}

.key-arrows-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.key-arrows-grid > * {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
}
.key-arrows-btn {
    cursor: pointer;
}

.btn-up {
    grid-column: span 2;
    grid-row: span 1;
    justify-self: center;
    align-self: start;
    color: white;
    padding-top: 5%;
}

.btn-left {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: start;
    align-self: center;
    padding-left: 15%;
}

.btn-right {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: end;
    align-self: center;
    padding-right: 15%;
}

.btn-down {
    grid-column: span 2;
    grid-row: span 1;
    justify-self: center;
    align-self: end;
    padding-bottom: 5%;
}

.key-shift {
    justify-self: start;
    align-self: center;
}

.key-alpha {
    justify-self: start;
    align-self: end;
    padding-bottom: 10%;
}

.key-mode {
    justify-self: end;
    align-self: end;
    padding-bottom: 10%;
}

.key-on {
    justify-self: end;
    align-self: center;
}

.disabled-fn-btn {
    cursor: not-allowed;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    position: relative;
    user-select: none;
}

.fn-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: filter 600ms;
}

.fn-btn-front-container {
    position: relative;
    display: grid;
    width: 40px;
    height: 22.5px;
    background-color: #242f41;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 5px;
    transform: translateY(-4px);
    will-change: transform;
    transition: transform 50ms;
    justify-items: center;
    align-items: center;
}

.fn-btn-front-text {
    position: relative;
    font-size: 9pt;
    font-size: 10pt;
    font-weight: 550;
    display: inline-block;
    text-align: center;
}

.fn-btn-edge {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 40px;
    height: 22.5px;
    background-color: #152028;
    text-align: center;
    border-radius: 5px;
}

.fn-btn-shadow {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 40px;
    height: 22.5px;
    border-radius: 5px;
    background-color: #000000;
    opacity: 25%;
    transform: translateY(2px);
    filter: blur(2px);
}

.fn-btn:active .fn-btn-front-container {
    transform: translateY(-2px)
}

.fn-btn:active .fn-btn-shadow {
    transform: translateY(1px)
}

.fn-btn:active {
    transition: filter 50ms;
    filter: brightness(110%);
}

.fn-btn:active .fn-btn-shadow {
    opacity: 27.5%;
    filter: blur(1px);
}

.fn-btn:focus:not(:focus-visible) {
    outline: none;
}

.btn-front-const {
    font-size: 7.5pt;
}

.btn-front-calc {
    font-size: 9pt;
}

.btn-front-x1, .btn-front-x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1;
}

.btn-front-italic-x {
    position: relative;
    display: inline-block;
    justify-self: end;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14pt;
    font-weight: 500;
}

.btn-front-raised-power {
    position: relative;
    display: inline-block;
    justify-self: start;
    align-self: start;
    font-size: 8pt;
    padding: 2.5px;
}

.display-squared-sign, .display-x-1-sign-minus, .display-x-1-sign-1 {
    display: inline-block;
    color: #000000;
    font-size: 16pt;
    transform: translateY(-4px) translateX(-1px);
}

.display-x-1-sign-1 {
    transform: translateY(-4px) translateX(-8px);
    width: 2px;
}

.display-negative-sign {
    display: inline-block;
    color: #000000;
    font-size: 14pt;
    transform: translateY(-3px) translateX(2px);
}

.display-exp-sign {
    color: #000000;
    font-size: 16pt;
}

.btn-front-abc {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
}

.abc-a {
    position: relative;
    display: inline-block;
    font-size: 12pt;
    justify-self: end;
    align-self: center;
    padding-left: 5px;
}

.abc-b {
    position: relative;
    display: inline-block;
    justify-self: end;
    align-self: start;
    font-size: 9pt;
    padding-top: 1px;
}

.abc-c {
    position: relative;
    display: inline-block;
    justify-self: start;
    align-self: end;
    font-size: 9pt;
    padding-top: 3px;
    padding-right: 5px;
}

.abc-slash {
    font-size: 12pt;
}

.btn-front-sqrt, .btn-front-negative {
    font-weight: bolder;
    font-size: 11pt;
}

.btn-front-caret {
    align-self: end;
    font-size: 14pt;
    transform: translateY(5px);
    font-weight: 500;
}

.btn-front-dms {
    font-size: 14pt;
    align-self: end;
    transform: translateY(5px);
}

.btn-front-comma {
    font-size: 14pt;
    align-self: start;
    transform: translateY(-5px);
}

.function-keys, .basic-keys {
    position: relative;
    justify-self: center;
    align-self: end;
}

.basic-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: filter 600ms;
}

.basic-btn-edge {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: #627282;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.basic-btn-shadow {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000000;
    opacity: 33%;
    transform: translateY(2px);
    filter: blur(2px);
}

.basic-btn-front-cover {
    position: relative;
    display: grid;
    width: 50px;
    height: 30px;
    background-color: #718191;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-4px);
    will-change: transform;
    transition: transform 50ms;
    justify-items: center;
    align-items: center;
}

.basic-btn-front-text {
    position: relative;
    display: inline-block;
    font-size: 16pt;
    text-align: center;
}

.basic-btn:active .basic-btn-front-cover {
    transform: translateY(-2px);
}

.basic-btn-active .basic-btn-front-cover {
    transform: translateY(-2px)
}

.basic-btn-active .basic-btn-shadow {
    transform: translateY(1px)
}

.basic-btn:active .basic-btn-shadow {
    transform: translateY(1px)
}

.basic-btn:active, .basic-btn-active {
    transition: filter 50ms;
    filter: brightness(105%);
}

.basic-btn-active .basic-btn-shadow {
    opacity: 34.65%;
    filter: blur(1px);
}

.basic-btn:active .basic-btn-shadow {
    opacity: 34.65%;
    filter: blur(1px);
}

.basic-btn:focus:not(:focus-visible) {
    outline: none;
}

.btn-front-del, .btn-front-exp {
    font-size: 14pt;
}

.btn-front-ans {
    font-size: 15pt;
}

.basic-btn-front-cover-alt {
    background-color: #ad6478;
}

.basic-btn-edge-alt {
    background-color: #9e5569;
}

.btn-multiply, .btn-divide, .btn-add, .btn-subtract, .btn-equals {
    font-size: 20pt;
}

.disabled-btn {
    cursor: not-allowed;
}

.subtract-sign {
    font-size: 22pt;
    transform: translateY(2px);
}

.transparent {
    opacity: 0;
}


@media screen and (max-height: 578px) {
    .calc-container {
        transform: translate(-25%) scale(0.5);
    }
}

@media screen and (min-height: 579px) and (max-height: 624px) {
    .calc-container {
        transform: translate(-22.5%) scale(0.55);
    }
}

@media screen and (min-height: 625px) and (max-height: 669px) {
    .calc-container {
        transform: translate(-20%) scale(0.6);
    }
}

@media screen and (min-height: 670px) and (max-height: 714px) {
    .calc-container {
        transform: translate(-17.5%) scale(0.65);
    }
}

@media screen and (min-height: 715px) and (max-height: 759px) {
    .calc-container {
        transform: translate(-15%) scale(0.7);
    }
}

@media screen and (min-height: 760px) and (max-height: 804px) {
    .calc-container {
        transform: translate(-12.5%) scale(0.75);
    }
}

@media screen and (min-height: 805px) and (max-height: 849px) {
    .calc-container {
        transform: translate(-10%) scale(0.8);
    }
}

@media screen and (min-height: 850px) and (max-height: 900px) {
    .calc-container {
        transform: translate(-7.5%) scale(0.85);
    }
}

@media screen and (min-height: 901px) and (max-height: 999px) {
    .calc-container {
        transform: translate(-5%) scale(0.9);
    }
}