<!-- <div class="linkedin-body"> -->
    <div class="linkedin-container" [style.box-shadow]="boxShadow" [ngClass]="[showComponent ? '' : 'transparent']">
        <div class="pro-pic-banner"></div>
        <div class="pro-grid">
            <div class="pro-pic-container">
                <img src ="assets/img/pro-pic.jpeg" class="pro-pic" alt="Profile picture">  
            </div>
            <div class="linkedin-logo">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
            </div>
            <div class="profile-info">
                <div class="headers">
                    <h3 class="linkedin-name">Nelson D.</h3>
                    <h4 class="linkedin-headline">Technical Consultant</h4>
                    <h4 class="linkedin-location">London, England, United Kingdom</h4>
                    <h5 class="linkedin-connections">500+ connections</h5>  
                </div>
                <button type="button" class="ext-link" title="Open in new browser tab">
                    <a href="https://linkedin.com/in/nelsondaly/" target=”_blank” rel="noopener noreferrer nofollow">
                        Profile<i class="fa fa-external-link"></i>
                    </a>
                </button>
            </div>
        </div>
    </div>   
<!-- </div> -->
<!-- <div class="splash-screen"><app-splash-screen></app-splash-screen></div>   -->