::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-corner {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #3d3e42;
    opacity: 50%;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #4c4d4f;
    opacity: 80%;
    transition: opacity 2s;
}

.preview-container {
    position: fixed;
    height: calc(((100vh / 9) * 7) - 50px);
    background-color: #fff;
    display: grid;
    place-items: start;
    overflow: scroll;
    white-space: nowrap;
}

.preview-options {
    position: relative;
}

.button-box {
    margin: 30px;
    width: 220px;
    position: relative;
    border-radius: 5px;
    background: #fff;
    border: solid 2px #2278cf;
    cursor: pointer;
}

.toggle-btn {
    width: 110px;
    padding: 10px;
    right: 0;
    cursor: pointer;
    background: transparent;
    color: #2278cf;
    border: 0;
    border-radius: 5px;
    outline: none;
    position: relative;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    transition: .2s;
}

.selected-btn {
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

.unselected-btn {
    font-size: 1em;
    cursor: pointer;
}

.unselected-btn:hover {
    color: red;
}

.btn {
    Left: 0;
    top: 0;
    position: absolute;
    width: 112px;
    height: calc(100% + 3px);
    background: #2278cf;
    border-radius: 5px;
    transition: .2s;
    transform: translateX(-1px) translateY(-1px);
    cursor: pointer;
}

.preview-component {
    position: relative;
    /* width: 600px; */
    /* padding: 1%; */
    background: #ffffff;
    display: grid;
}

.ss {
    position: absolute;
}

.splash-screen {
    position: absolute;
}

.ss-raised {
    transform: translateY(-2%);
}

.transparent {
    opacity: 0;
}

.app-preview-component {
    transition: opacity 0.2s;
}

@media screen and (max-height: 1144px) {
    .button-box {
        transform: translateX(-17.5%) translateY(-17.5%) scale(0.75);
        margin-left: 27px;
        margin-bottom: 7px;
        margin-top: 10px;
    }
}